 
  .reports-container{
    width:60%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
    
  .example-full-width {
    width: 100%;
  }

  .form-container{
    padding-top: 20px!important;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
  }

  
  
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
  ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }