<div class="reports-container">


    <mat-horizontal-stepper #stepper>
        <mat-step>
            <mat-toolbar class="page-toolbar mt-3 mb-3">Select Course and School Year</mat-toolbar>


            <div class="row mt-4">
                <div class="col-xl-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <table mat-table [dataSource]="scheduleData">

                <ng-container matColumnDef="course_title">
                    <th mat-header-cell *matHeaderCellDef>Course</th>
                    <td mat-cell *matCellDef="let element"> {{element.curriculum_course}} </td>
                </ng-container>

                <ng-container matColumnDef="school_year">
                    <th mat-header-cell *matHeaderCellDef> School Year: </th>
                    <td mat-cell *matCellDef="let element"> {{element.sy_desc}} </td>
                </ng-container>

                <ng-container matColumnDef="curriculum">
                    <th mat-header-cell *matHeaderCellDef> Based on Curriculum for: </th>
                    <td mat-cell *matCellDef="let element"> {{element.based_on_curriculum}} </td>
                </ng-container>

                <ng-container matColumnDef="View">
                    <th mat-header-cell *matHeaderCellDef class="pl-3"></th>
                    <td mat-cell *matCellDef="let element"> <button mat-button
                            (click)="goForward(stepper,element.schedule_id)"
                            style="background-color: #70a1ff; color: white;">Select</button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="ScheduleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: ScheduleColumns;"></tr>
            </table>


            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-step>
        <mat-step>

            <mat-toolbar class="page-toolbar mt-3 mb-3">Select Semester and Subject</mat-toolbar>

            <div class="row pl-5">
                <div class="col">
                    <form #myform="ngForm" (ngSubmit)="filterBySemester(myform)">
                        <mat-form-field class="example-full-width mr-2">
                            <mat-label>Filter By Semester</mat-label>
                            <mat-select matNativeControl required name="semester_id" ngModel>
                                <mat-option *ngFor="let semester of semesters" [value]="semester.semester_id">
                                    {{semester.Semster}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-flat-button style="background-color: #ffffff; outline: none;" type="submit">
                            <mat-icon matSuffix>search</mat-icon>
                        </button>
                    </form>
                </div>
            </div>


            <div id="print-section" [hidden]="isShow">
                <div class="row">
                    <h4 style="margin: 0 auto;">
                        {{ this.getCourseTitle() }}
                    </h4>
                </div>

                <div class="row">
                    <h4 style="margin: 0 auto;">
                        {{ this.getCourse() }}
                    </h4>
                </div><br>

                <div class="row">
                    <h5 style="margin: 0 auto;">
                        Class Program
                    </h5>
                </div>

                <div class="row">
                    <h5 style="margin: 0 auto;">
                        {{ this.getSemester() }} {{ this.getSchoolYear() }}
                    </h5>
                </div>


                <div class=" px-4">
                    <div class="mt-3" *ngFor="let element of scheduleSubjectData" style="width:100%;">

                        <div
                            style="width: 100%!important; background-color: #575fcf; color: white; text-align: center;">
                            <label style="font-weight: bold;">{{ element.level}}</label>
                        </div>



                        <div style="width:100%; background-color:#f1f2f6;">
                            <div class="row header">
                                <div class="col">
                                    <b>Course No.</b>
                                </div>
                                <div class="col">
                                    <b>Descriptive Title</b>
                                </div>
                                <div class="col">
                                    <b>Units</b>
                                </div>
                                <div class="col">
                                    <b>Time</b>
                                </div>
                                <div class="col">
                                    <b>Days</b>
                                </div>
                                <div class="col">
                                    <b>Room</b>
                                </div>
                                <div class="col">
                                    <b>Instructor</b>
                                </div>
                                <div class="col" [hidden]="isEditMode">
                                    <b></b>
                                </div>
                            </div>
                            <div class="" *ngFor="let subject of element.subjects">
                                <div class="row subjects-cell">
                                    <div class="col">
                                        {{subject.course_no}}
                                    </div>
                                    <div class="col">
                                        {{subject.descriptive_title}}
                                    </div>
                                    <div class="col">
                                        {{subject.curr_subject_units}}
                                    </div>
                                    <div class="col">
                                        {{ fixTimeFormat(subject.start_time) }} - {{ fixTimeFormat(subject.end_time) }}
                                    </div>
                                    <div class="col">
                                        {{subject.days}}
                                    </div>
                                    <div class="col">
                                        {{subject.room_desc}}
                                    </div>
                                    <div class="col">
                                        {{subject.faculty_fname}} {{subject.faculty_mname}}
                                        {{subject.faculty_lname}}
                                    </div>
                                    <div class="col">
                                        <label (click)="ShowGradeSheet(subject,element.level)"
                                            style="cursor:pointer; color: #575fcf;">Print Grade Sheet</label>
                                    </div>

                                </div>
                            </div>
                        </div><br><br>
                    </div>


                </div>

            </div>
            <button mat-button matStepperPrevious>Back</button>
        </mat-step>
    </mat-horizontal-stepper>



</div>