<div class="example-form " style="padding-top:40px!important;">
    <ng-template matStepLabel>Select Subject</ng-template>

    <hr style="width: 100%;" />

    <div id="print-section">
        <div class="row">
            <h4 style="margin: 0 auto;">
                {{ this.getCollege() }}
            </h4>
        </div>

        <div class="row">
            <h4 style="margin: 0 auto;">
                {{ this.getCourse() }}
            </h4>
        </div>

        <div class="row">
            <label style="margin: 0 auto; font-weight: bold;">
                NEW CURRICULUM {{ this.getYear() }}
            </label>
        </div>


        <div class=" px-4">
            <div class="mt-3" *ngFor="let element of curriculumData" style="width:100%;">

                <div style="width: 100%!important; background-color: #575fcf; color: white; text-align: center;">
                    <label style="font-weight: bold;">{{ element.level }}</label>
                </div>

                <div *ngFor="let semester of element.semester;" style="width:100%; background-color:#f1f2f6;">

                    <div style="width: 100%!important; background-color: #c8d6e5;color:#485460; text-align: center;">
                        <label style="font-weight: bold;">{{semester.semester_name}}</label>
                    </div>
                    <div class="row header">
                        <div class="col">
                            <b>Course No.</b>
                        </div>
                        <div class="col" style="font-weight: 500;">
                            <b>Descriptive Title</b>
                        </div>
                        <div class="col" style="font-weight: 500;">
                            <b>Prerequisite</b>
                        </div>
                        <div class="col" style="font-weight: 500;">
                            <b>Units</b>
                        </div>
                        <div class="col" style="font-weight: 500;">
                        </div>
                    </div>
                    <div class="" *ngFor="let details of semester.semester_subjects;">
                        <div class="row subjects-cell">
                            <div class="col">
                                {{details.subject_course_no}}
                            </div>
                            <div class="col">
                                {{details.descriptive_title}}
                            </div>
                            <div class="col">
                                {{details.prereq_course_no}}
                            </div>
                            <div class="col">
                                {{details.curr_subject_units}}
                            </div>
                            <div class="col">
                                <label (click)="selectSubject(details.curr_sub_id)"
                                    style="cursor:pointer; color:#575fcf;">Select</label>
                            </div>
                        </div>
                    </div>
                </div><br><br>
            </div>
        </div>
    </div>
</div>