<div class="example-form" style="padding-top:40px!important;">
    <form #myform="ngForm" (ngSubmit)="newType(myform)" >

        <mat-form-field class="example-full-width">
             <input matInput placeholder="Type" name="fee_type_desc" ngModel>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select matNativeControl required name="fee_category_id" ngModel>
                <mat-option *ngFor="let category of categories" [value]="category.fee_category_id">
                    {{category.fee_category_desc}}
                  </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="form-field">
                <button mat-button mat-raised-button type="submit" class="example-full-width" color="primary">Save</button>
        </div>
    </form>
  </div>
  