<div class="reports-container" [formGroup]="address">

    <mat-toolbar class="page-toolbar mb-3">Test Sched</mat-toolbar>
  
    <div class="row mt-4">
      <div class="col-xl-3">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Subject">
        <th mat-header-cell *matHeaderCellDef> Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.subject_desc}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Faculty">
        <th mat-header-cell *matHeaderCellDef> Faculty </th>
        <td mat-cell *matCellDef="let element">
          {{element.faculty_fullname }}
        </td>
      </ng-container>
  
  
      <ng-container matColumnDef="Semester">
        <th mat-header-cell *matHeaderCellDef> Semester </th>
        <td mat-cell *matCellDef="let element"> {{element.semester_desc}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="Level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let element"> {{element.level_desc}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="Update">
        <th mat-header-cell *matHeaderCellDef class="pl-3">Update</th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click)="UpdateItem(element)"><i
              class="material-icons">edit</i></button></td>
      </ng-container>
  

      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef >Check</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox  [(ngModel)]="element.checked" [ngModelOptions]="{standalone: true}" (change)="onChange(element.schedule_id, $event)"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>