<div class="">
    <mat-tab-group>
      <mat-tab label="Assessment"> <app-assesment-setup></app-assesment-setup> </mat-tab>
        <mat-tab label="Courses"> <app-courses></app-courses></mat-tab>
        <mat-tab label="Curriculum"><app-curriculums></app-curriculums></mat-tab>
        <mat-tab label="Checklist"></mat-tab>
        <mat-tab label="Departments"><app-departments></app-departments></mat-tab>
        <mat-tab label="Faculty Profile"> <app-faculty></app-faculty></mat-tab>
        <mat-tab label="Levels"> <app-levels></app-levels> </mat-tab>
        <mat-tab label="Majors"><app-majors></app-majors></mat-tab>
        <mat-tab label="Notes"><app-notes></app-notes></mat-tab>
        <mat-tab label="Rooms"> <app-rooms></app-rooms> </mat-tab>
        <mat-tab label="Subjects"> <app-subjects>Loading</app-subjects></mat-tab>
        <mat-tab label="Semesters"> <app-semesters></app-semesters></mat-tab>
        <mat-tab label="Schools"><app-colleges></app-colleges></mat-tab>
        <mat-tab label="Sections"><app-sections></app-sections></mat-tab>
        <mat-tab label="School Year"><app-school-year></app-school-year></mat-tab>
        <mat-tab label="Schedules"><app-schedules></app-schedules></mat-tab>
        <mat-tab label="Signatories"><app-signatories></app-signatories></mat-tab>
      </mat-tab-group>
</div>